form.admin-add-project-form {
    width: 100%;
}
.box {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #555;
    margin-bottom: 20px;
    margin-right: 10px;
    padding: 20px;
    word-wrap: break-word;
}
.box label {
    float: left;
    margin-bottom: 4px;
    margin-right: 10px;
    margin-top: 4px;
    text-align: right;
    width: 10%;
}

.box input[type="text"], .box select {
    max-width: 100%;
    width: 450px;
}

.box input[type="checkbox"] {
    width:0px;
}
.button.button-primary.button-large {
    margin-left: 35px;
    margin-top: 35px;
    width: 100px;
}

.box textarea {
    display: block;
    height: 240px;
    resize: vertical;
    width: 84%;
}

span.required::after {
    color: #d00;
    content: "*";
    font-size: 1.5em;
    font-weight: normal;
    line-height: 0;
    margin-left: -0.2em;
}

.div_proj_type {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #555;
    margin-bottom: 20px;
    margin-right: 10px;
    padding: 20px;
    word-wrap: break-word;
}

.div_proj_type .button-large {
    margin-top: 0 !important;
}

.div_proj_type .input_add_pro_type {
    width: 275px;
}
.notice-tracker {
    margin-bottom: 20px;
    padding: 10px 16px;
    padding-left: 40px;
    margin-right: 10px;
    font-size: 16px;
}

.msg_success {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #fff;
}
.msg_error {
    color: #D8000C;
    background-color: #FFBABA;
}

.display_proj_type {
    width: 275px;
}
.edit-proj_type {
    background-color: #4CAF50;
}
.del-proj_type {
    background-color: #f44336;
}
/* extrenal table designe */
@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

.projtab{
	border:thick;
	border-color:#000;
	}
.div1 {
    float: left;
    width: 300px;
    height: 400px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    box-shadow: 0 1px 1px #cccccc;
	padding-left:50px;

}
.div2 {
    float: left;
    width: 700px;
    height: 400px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    box-shadow: 0 1px 1px #cccccc;
	padding-left:50px;
	margin-left:20px;

}
.divticket {
    float: left;
    width: 1050px;
    height: 500px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    box-shadow: 0 1px 1px #cccccc;
	padding-left:50px;
	margin-left:26px;

}

.body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:#1F2739;
}

.h1 {
  font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}

.h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

.h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.blue { color: #185875; }
.yellow { color: #ff4c42; }

.container th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #185875;
}

.container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
			color: whitesmoke;
}

.container {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}
.container td, .container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;  
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: #2C3446;
}

.container th {
	  background-color: #1F2739;
}

.container td:first-child { color: #FB667A; }

.container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}
.commentb{
	margin-top:-14px !important;
    margin-left: 2px !important;
}

